<div class="container-fluid">
    <nav class="nav-bar">
        <div class="row ">
            <div class="col-sm-3 col-xs-3">
                <a href="#" class="nav-img">
                    <img src="../assets/imgs/tenxu.png" alt="腾讯课堂">
                </a>
            </div>
            <div class="col-sm-5 col-xs-5">
                <div class="input-group" id="search">
                    <span class="input-group-addon " id="search-classroom">课程
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </span>
                    <input type="text" placeholder="腾讯课堂设计大师班">
                    <span class="input-group-addon" id="search-bt">
                        <a href="#">
                            <span class="glyphicon glyphicon-search"></span>
                        </a>
                    </span>
                </div>
            </div>
            <div class="col-sm-4 col-xs-4">
                <ul class="nav-list list-inline">
                    <li>
                        <a href="#">登录</a>
                    </li>
                    <li style="margin-right: 20px;">
                        <a href="#">我要讲课
                            <p class="glyphicon glyphicon-chevron-down"></p>
                        </a>
                    </li>
                    <li>
                        <a href="#">分销课程</a>
                    </li>
                    <li>
                        <a href="#">企业合作</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="carousel container-fluid">

    <carousel>
        <slide style="background: rgb(20, 34, 73);">
            <img src="../assets/imgs/0.jpg" alt="First slide">
        </slide>
        <slide style="background: rgb(22, 37, 59);">
            <img src="../assets/imgs/1.jpg" alt="Second slide">
        </slide>
        <slide style="background: rgb(29, 22, 22);">
            <img src="../assets/imgs/2.jpg" alt="Third slide">
        </slide>
    </carousel>
    <div class="carousel-login">
        <div class="login">
            <p>跟进你的学习进度</p>
            <img src="../assets/imgs/login-img.png" alt="">
            <a>登录</a>
        </div>
        <div id="carousel-nav">
            <ul class="list-unstyled">
                <li>
                    <a href="#">
                        <b> IT.互联网</b>
                    </a>
                    <a href="#">前端开发</a>
                    <a href="#">Java</a>
                    <i class="glyphicon glyphicon-chevron-right"></i>
                </li>
                <li>
                    <a href="#">
                        <b>设计.创作</b>
                    </a>
                    <a href="#">平面设计</a>
                    <a href="#">UI设计</a>
                    <i class="glyphicon glyphicon-chevron-right"></i>
                </li>
                <li>
                    <a href="#">
                        <b>语言.留学</b>
                    </a>
                    <a href="#">实用英语</a>
                    <a href="#">雅思</a>
                    <a href="#">托福</a>
                    <i class="glyphicon glyphicon-chevron-right"></i>
                </li>
                <li>
                    <a href="#">
                        <b>职业.考证</b>
                    </a>
                    <a href="#">公务员</a>
                    <a href="#">教师考试</a>
                    <i class="glyphicon glyphicon-chevron-right"></i>
                </li>
                <li>
                    <a href="#">
                        <b>升学.考研</b>
                    </a>
                    <a href="#">考研</a>
                    <a href="#">大学</a>
                    <a href="#">高中</a>
                    <i class="glyphicon glyphicon-chevron-right"></i>
                </li>
                <li>
                    <a href="#">
                        <b>兴趣.生活</b>
                    </a>
                    <a href="#">摄影</a>
                    <a href="#">乐器演奏</a>
                    <a href="#">美妆</a>
                    <i class="glyphicon glyphicon-chevron-right"></i>
                </li>

            </ul>
        </div>
    </div>


</div>
<div class="container-fluid">
    <div class="option">
        <ul class="list-inline">
            <li [class.option-li]="liClick" (click)="liClick=!liClick">精选推荐</li>
            <li>编程语言</li>
            <li>平面设计</li>
            <li>高中</li>
            <li>实用英语</li>
            <li>文艺修养</li>
        </ul>
        <a href="#">修改兴趣</a>
    </div>
</div>
<div id="router">

</div>
