<div class="container-fluid">
    <nav class="nav-bar">
        <div class="row ">
            <div class="col-sm-3 col-xs-3">
                <a href="#" class="nav-img">
                    <img src="../assets/imgs/tenxu.png" alt="腾讯课堂">
                </a>
            </div>
            <div class="col-sm-5 col-xs-5">
                <form>
                    <ul class="list-inline">
                        <li>
                            <a href="#">课程
                                <p class="glyphicon glyphicon-chevron-down"></p>
                            </a>
                        </li>
                        <li>
                            <input type="text" style="color: rgb(199, 196, 196);font-size: 14px;" placeholder="腾讯课堂设计大师">
                        </li>
                        <li>
                            <a >
                                <p class="glyphicon glyphicon-search"></p>
                            </a>
                        </li>
                    </ul>
                </form>
            </div>
            <div class="col-sm-4 col-xs-4">
                <ul class="nav-list list-inline">
                    <li>
                        <a href="#">登录</a>
                    </li>
                    <li style="margin-right: 20px;">
                        <a href="#">我要讲课
                            <p class="glyphicon glyphicon-chevron-down"></p>
                        </a>
                    </li>
                    <li>
                        <a href="#">分销课程</a>
                    </li>
                    <li>
                        <a href="#">企业合作</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="carousel container-fluid">
    
    <carousel>
        <slide style="background: rgb(20, 34, 73);">
            <img src="../assets/imgs/0.jpg" alt="First slide">
        </slide>
        <slide style="background: rgb(22, 37, 59);">
            <img src="../assets/imgs/1.jpg" alt="Second slide">
        </slide>
        <slide style="background: rgb(29, 22, 22);">
            <img src="../assets/imgs/2.jpg" alt="Third slide">
        </slide>
    </carousel>
</div>
